.list-overflow-container {
  max-height: 800px;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 25px;
}
